/* TabComponent.css */

.tab-container {
    width: 80%;
    margin: 20px auto;
}
  
.tab-container .tab-buttons {
    display: flex;
    justify-content: space-around;
    background-color: #eee;
    padding: 10px;
    background-color: #394773;
    border: 1px solid #ddd;
    border-radius: 4px;
}
  
.tab-container .tab-buttons button {
    padding: 8px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    border-radius: 4px;
    color: white;
    font-family: "Grape Nuts", cursive;
    border: 1px solid #ddd;
}

.tab-container .tab-buttons button.active {
    background-color: #4d5a84;
}

.tab-container .tab-content {
    padding: 15px;
    border: 1px solid #ddd;
    margin-top: 5px;
    border-radius: 4px;
    background-color: #fff;
}

.tab-container .tab-content h2, p {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    padding: 5px;
}

.tab-container .tab-content .game-container {
    width: 30%;
    margin: 15px;
    height: 175px;
    border-radius: 5px;
    border: 2px solid #000000;
    background-color: #7a7b89;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}