/* QRCodeBox.css */

.QRCodeBox-Div {
    background-color: aliceblue;
    width: 30%;
    height: 30%;
    margin-top: 20px;
    /* margin-left: 20%; */
    padding: 20px;
    background-color: rgb(88, 117, 178);
    border: 3px black solid;
    border-radius: 30px;
}

.QRCodeBox-Div .QRCodeBox-Image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}