/* RightSidebar.css */

.games-navbar {
    width: 100px;
    margin-left: -215px;
    margin-top: -50px;
    height: 500px;
    background-color: hsl(247, 13%, 58%);
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;

  }
  
  .games-navbar h2 {
    color: #45454c;
    margin-top: 20px;
  }
  
  .games-navbar .options-list {
    margin-top: 10px;
  }
  
  .games-navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .games-navbar li {
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ddd;
  }
  
  .games-navbar li:hover {
    background-color: #625870;
  }
  
  /* Add additional styling as needed */
  