.games-container h3 {
  text-align: center;
  padding: 2%;  
  color: #a58888;
  font-size: 1.5em;
  font-family: cursive;
}

.games-container .top-games-container {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(2, 1, 16);
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(15, 6, 30, 0.797);
}

.games-container .top-games-container h1 {
  color: #a7abae;
  font-size: 2em;
  font-family: monospace;
  font-variant: small-caps;
}

.top-games-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

/* Styling for the tabs */

.MuiTabs-root {
  width: 100%;
  margin: 0 auto;
  background-color: #394773;
  padding: 5px 0; /* Increased padding for more emphasis */
  margin: auto;
  box-shadow: 0 1px 6px rgba(169, 152, 225, 0.872);
}

/* Styling for the tab panels */

.games-tab-panel-content {
  width: 70vw;
  height: 500px;
  background-color: #2c2d44;
  box-shadow: 0 2px 6px rgba(125, 148, 197, 0.872);
}

.games-tab-panel-content  h1{
  color: #ffffff;
  font-family: "Rubik Burned", system-ui;
  font-size: 0.8em;
  text-align: center;
  padding-top: 20px;
}