.Games-container h1 {
  font-size: 2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-variant: small-caps;
  color: #a7abae;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.Games-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.Game {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.GameLabel {
  text-align: center;
  color: aliceblue;
}