.top-games-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.games-container h3 {
  text-align: center;
  padding: 2%;  
  color: #a58888;
  font-size: 1.5em;
  font-family: cursive;
}

.games-container .top-games-container {
  text-align: center;
  margin-bottom: 20px;
  background-color: rgb(2, 1, 16);
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(15, 6, 30, 0.797);
}

.games-container .top-games-container h1 {
  color: #a7abae;
  font-size: 2em;
  font-family: monospace;
  font-variant: small-caps;
}

.games-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}

.Game {
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

.GameLabel {
  text-align: center;
  color: aliceblue;
}

/* Styling for the tabs */

.MuiTabs-root {
  width: 100%;
  margin: 0 auto;
  background-color: #0b6ab2;
}

.MuiTab-textColorPrimary.Mui-selected {
  color: #0b6ab2;
  background-color: #fff;
}

.MuiTab-root {
  min-width: auto;
}

.MuiTabs-indicator {
  background-color: #527087;
}

/* Styling for the tab panels */

.games-tab-1 {
  width: 70vw;
  height: 500px;
  background-color: #0b6ab2;
}

.games-tab-1  h1{
  color: #ffffff;
  font-family: fantasy;
  text-align: center;
  padding: 3%;
}

.games-tab-2 {
  width: 70vw;
  height: 500px;
  background-color: #0b6ab2;
}

.games-tab-2  h1{
  color: #ffffff;
  font-family: fantasy;
  text-align: center;
  padding: 3%;
}

.games-tab-3 {
  width: 70vw;
  height: 500px;
  background-color: #0b6ab2;
}

.games-tab-3  h1{
  color: #ffffff;
  font-family: fantasy;
  text-align: center;
  padding: 3%;
}