/* Header.css */

.header-container {
    text-align: center;
}
  
.header-container .header-h1 {
    font-size: 1.75em;
    color: #0e1661;
    font-family: Rubik Lines, sans-serif;
}
  
.header-container .header-a {
    color: white;
    font-size: 1.25em;
    text-decoration: none;
    font-weight: bold;
}
  
.header-container .header-a:hover {
    text-decoration: underline;
    color: rgb(156, 161, 222);
    font-size: 1.30em;
}