/* Header.css */

.header-container {
  background-color: #394773;
  border-radius: 25px;
  color: #c2c9d8;
  font-family: 'Pacifico', cursive;  
  text-align: center;
  width: 80%;
  padding: 20px 0; /* Increased padding for more emphasis */
  margin: auto;
  box-shadow: 0 4px 6px rgba(169, 152, 225, 0.872); /* Added box shadow for a subtle lift */
}

.header-container .discord-image {
  width: 120px; /* Adjusted width for a better size */
  height: auto; /* Maintain aspect ratio */
  border-radius: 30%; /* Make it a circle */
  margin-top: 10px; /* Added margin for separation */
  background-color: #dfe2e5; /* Added background color */
}

.header-container img {
  width: 50%;
}