.marketing-container{
    width: 100%;
}

.marketing-container .main-content{
    padding: 20px;
    background-color: #394773;    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 80%;
    margin: auto;
}

.top-marketing-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.marketing-container .top-marketing-container {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(2, 1, 16);
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(15, 6, 30, 0.797);
}

.marketing-container .top-marketing-container h1 {
    color: #a7abae;
    font-size: 2em;
    font-family: monospace;
    font-variant: small-caps;
}

.marketing-container section {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.marketing-container section span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: hsl(200, 4%, 17%);
    line-height: 1.5;
}

.marketing-container section span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: hsl(200, 4%, 17%);
    line-height: 1.5;
}

.marketing-container section label {
    font-size: 1.25em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #000204;
    margin-left: 15px;
}

.marketing-container section .name-span {
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    color: #44678b;
}

.marketing-container section h2 {
    color: #165760;
    font-size: 1.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
}

.marketing-container section h3 {
    color:rgb(225, 29, 29);
    font-size: 1.25em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.marketing-container section p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 0.5;
    padding-top: 10px;
    padding-bottom: 10px;
}