.nfts-marketplace-container {
  max-width: 800;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(22, 32, 32);
}

.nfts-marketplace-container{
    width: 100%;
  }
  .main-content{
    padding: 20px;
    background-color: #4f5155;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(60, 233, 80, 0.1);
    margin-top: 20px;
    width: 80%;
    margin: auto;
  }
  
  .top-nfts-marketplace-container {
    padding: 20px;
    background-color: #000000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .nfts-marketplace-container .top-nfts-marketplace-container {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(2, 1, 16);
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(15, 6, 30, 0.797);
  }
  
  .nfts-marketplace-container .nfts-top-marketplace-container h1 {
    color: #a7abae;
    font-size: 2em;
    font-family: monospace;
    font-variant: small-caps;
  }
  
  .nfts-marketplace-container .nfts-top-marketplace-container p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: hsl(210, 10%, 88%);
    line-height: 1.25;
    margin-top: 10px;
    padding: 10px;
  }
  
  .nfts-marketplace-container section {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .nfts-marketplace-container section h2 {
    color: #308c98;
    font-size: 1.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  padding: 5px;
  }
  
  .nfts-marketplace-container section p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2;
    margin-top: 10px;
    padding: 10px;
  }
  
  .nfts-marketplace-container section p::first-letter {
    font-size: 1.25em;
    font-weight: bold;
  }
  
  .nfts-marketplace-container footer {
    text-align: center;
    margin-top: 20px;
  }

  .main-content .page-detail-paragraph {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2;
    font-size: 1.5em;
    margin-top: 10px;
    padding: 10px;
    color: #5e5957;
  }

  .main-content span {
    font-size: 1.125em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(144, 84, 5);
  }